.divPortraitsPage{
    display: flex;
    width: 100vw;
    justify-content:center ;
    align-items: flex-start;
    margin-top: -50px;
}
.organizePortraits{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}   
.divColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}
.amountOfResults{
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.organizePageButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    column-gap: 5px;
}
.fa-chevron-circle-left{
    font-size: 1.6em;
}
.fa-chevron-circle-right{
    font-size: 1.6em;
}
@media(min-width: 901px){
    .divPortraitsPage{
        column-gap: 60px;
    }
}
@media(min-width: 991px){
    .divPortraitsPage{
        column-gap: 30px;
        width: 100vw;
    }
    .organizeResultsDiv{
        width: 70vw;
    }
    .organizePortraits{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 3vw;
    }
    .fa-chevron-circle-left:hover, .fa-chevron-circle-right:hover{
        cursor: pointer;
    }
}
@media (min-width: 1451px){
    .divPortraitsPage{
        column-gap: 15px;
    }
    .organizeResultsDiv{
        margin-right: 20px;
    }
    .organizePortraits{
        grid-template-columns: auto auto auto;
        column-gap: 1vw;
    }
}