.divPortraitsPage{
    display: flex;
    width: 100vw;
    justify-content:center ;
    align-items: flex-start;
    margin-top: -50px;
}
.organizePortraits{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}   
.divColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
}
.amountOfResults{
    font-size: 1.5em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.organizePageButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    column-gap: 5px;
}
.fa-chevron-circle-left{
    font-size: 1.6em;
}
.fa-chevron-circle-right{
    font-size: 1.6em;
}
.noResultsFinded{
    height: 60vh;
    min-height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12vh;
}
.noResultsFindedImg{
    width: 290px;
    height: 185px;
    background-image: url('../noResultsFindedMobile.png');
    background-position: center;
}
@media(min-width: 551px){
    .noResultsFinded{
        margin-top: 20px;
        margin-bottom: 15vh;
        min-height: 345px;;
    }
    .noResultsFindedImg{
        width: 542px;
        height: 345px;
        background-image: url('../noResultsTablet.png');
    }
}
@media(min-width: 901px){
    .divPortraitsPage{
        column-gap: 60px;
        min-height: 1400px;
    }
    .noPortraits{
        justify-content: flex-start;
        margin-left: 9vw;
    }
    .noResultsFinded{
        position: absolute;
        z-index: -1;
        top: 300px;
        width: 100vw;
    }
    .noResultsFindedImg{
        width: 100vw;
        max-width: 900px;
        height: 100vh;
        max-height: 600px;
        background-image: url('../noResultsTablet.webp');
        background-repeat: no-repeat;
    }
    .organizeResultsDiv{
        width: 60vw;
    }
}
@media(min-width: 1040px){
    .divPortraitsPage{
        column-gap: 30px;
        width: 100vw;
    }
    .organizeResultsDiv{
        width: 70vw;
    }    
    .organizePortraits{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 3vw;
    }
    .fa-chevron-circle-left:hover, .fa-chevron-circle-right:hover{
        cursor: pointer;
    }
}
@media (min-width: 1451px){
    .divPortraitsPage{
        column-gap: 15px;
    }
    .organizeResultsDiv{
        margin-right: 20px;
    }
    .organizePortraits{
        grid-template-columns: auto auto auto;
        column-gap: 1vw;
    }
}