@keyframes changeSize {
    from{font-size: 1.2em; width: 160px;}
    to{font-size: 1.35em; width: 178px;}
}
.divDetailsPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imageDetails{
    min-width: 270px;
    width: 90vw;
    max-width: 400px;
    border-radius: 15px;
}
.organizeContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.organizeTags{
    display: flex;
    column-gap: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.detailsTags{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(0.5em + 3vw);
    text-align: center;
} 
.organizeDetails{
    display: flex;
    flex-wrap:wrap;
    width: 90vw;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.details{
    font-size: 1em;
    text-align: center;
}
.divColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.alignAmountComponents{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
}
.signs{
    font-size: 1.5em;
    background-color: skyblue;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-color: green;
    border-style: solid;
}
.amount{
    font-size: 2.1em;
}
.addCart{
    margin-top: 20px;
    background-color: skyblue;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3em;
    letter-spacing: 3px;
    animation-name: changeSize;
    animation-duration: 0.4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    color: white;
    text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}
@media (min-width: 551px){
    .imageDetails{
        max-width: 90vw;
        width: auto;
        margin-bottom: 20px;
    }
    .detailsTags{
        font-size: 1.7em;
    }
    .details{
        font-size: 1.25em;
    }
    .signs{
        font-size: 1.7em;
        width: 40px;
        height: 40px;
        padding-top: 1.5px;
    }
    .amount{
        font-size: 2.7em;
    }
}
@media(min-width: 901px){
    .signs:hover{
        cursor: pointer;
    }
    .addCart:hover{
        cursor: pointer;
    }
}
@media (min-width: 950px){
    .divDetailsPage{
        flex-direction: row;
        column-gap: 20px;
    }
    .imageDetails{
        max-width: 500px;
    }
}
@media (min-width: 1200px){
    .imageDetails{
        max-width: none;
    }
}