.divPortrait{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgPreview{
    width: 300px;
    max-width: 90vw;
    border-radius: 10px;
}
.organizePortraitTags{
    display: flex;
    justify-content: center;
    column-gap: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.05em;
    max-width: 90vw;
}

@media (min-width: 551px){
    .imgPreview{
        width: 420px;
    }
    .organizePortraitTags{
        font-size: 1.2em;
    }
}
@media (min-width: 901px){
    .imgPreview{
        width: 450px;
    }
    .imgPreview:hover{
        cursor: pointer;
        border-style: solid;
        border-width: 0.1px;
        border-color: orange;
    }
    .organizePortraitTags{
        font-size: 1.35em;
    }
}
@media (min-width: 991px){
    .imgResultsPage{
        width: 30vw;
        max-width: 380px;
    }
    .tagsResultsPage{
        font-size: 1.2em;
    }
}
@media (min-width: 1451px){
    .imgResultsPage{
        width: 20vw;
        max-width: 350px;;
    }
    .tagsResultsPage{
        font-size: 1.2em;
    }
}