.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.pixabay{
  margin-top: 20px;
}
.a_pixabay{
  color: red;
}
.a_pixabay:visited{
  color: red;
}
.h4_pixabay{
  font-size: larger;
}

@media (max-width:710px) and (min-width:470px){
  .h4_pixabay{
    font-size: small;
  }
}
@media (max-width:470px) {
  .h4_pixabay{
    font-size: xx-small;
  }
}
