@keyframes grow{
    from{height: 0; display: none;}
    to{height: 100vh; display: block;}
}
.mainNav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    position: absolute;
    top: 0;
    color: white;
    min-height: 90px;
}
.deployed{
    background-color: #010734bb;
    z-index: 1;
}
.logoNav{
    width: 80px;
    align-self: flex-start;
    margin-top: 20px;
}
.divNav{
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 5px;
    height: 350px;
    height: 100vh;
}
.navlink{
    margin-top: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Franklin Gothic Medium',Arial, 'Arial Narrow', sans-serif;
    font-weight: bolder;
    font-size: 1.05em;
}
.active{
    font-size: 1.1em;
    text-decoration: underline;
}
.fa-bars{
    margin-right: 20px;
    font-size: 1.5em;
}
.cartLink{
    position: relative;
}
.fa-shopping-cart .fa-sign-in{
    font-size: 1.1em;
}
.floatingNumber{
    position: absolute;
    top: -45px;
    left: 17px;
    font-size: 0.9em;
}
@media (max-width: 550px){
    .divNav{
        animation-name: grow;
        animation-duration: 1.1s;
    }
}
@media (min-width: 551px){
    .logoNav{
        margin-top: 10px;
        width: 95px;
    }
    .divNav{
        flex-direction: row;
        column-gap: 25px;
        height: 75px;
        width: auto;
        background-color: unset;
        margin-right: 25px;
        padding-right: 0;
        justify-content: center;
    }
    .navlink{
        font-size: 1.3em;
    }
    .active{
        font-size: 1.3em;
        font-weight: bolder;
    }
    .floatingNumber{
        top: -55px;
        left: 22px;
    }
}
@media (min-width: 901px){
    .divNav{
        align-self: flex-start;
        margin-right: 50px;
        margin-top: 15px;
    }
    .logoNav{
        width: 120px;
        margin-top: 15px;
        margin-left: 20px;
    }
    .logoNav:hover{
        cursor: pointer;
    }
    .navlink{
        font-size: 1.5em;
    }
    .active{
        font-size: 1.5em;
    }
    .floatingNumber{
        top: -60px;
        font-size: 0.82em;
        left: 24px;
    }
}

